body {background: rgb(148, 140, 144);
    background: radial-gradient(circle, rgb(144, 143, 150) 0%, rgb(163, 173, 185) 100%);}


.borde {
    border-radius: 30px;
    
}

    a {
        background: transparent;
    border-radius: 50%;
   
   
}

.icono {
    
    border-radius: 100%;
}

.boton-up {
    position: fixed;
    bottom: 10px;
    right: 10px;
    height: 45px;
    width: 95px;
    
    
    }
    .quitarLink{
        text-decoration: none
    }
   